<!DOCTYPE html>
<html>

<head>
    <title uk-icon="icon: cart">E commerce</title>
    <link rel="icon"
        href="https://icon-library.com/images/white-shopping-cart-icon-png/white-shopping-cart-icon-png-17.jpg"
        type="image/x-icon">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
    <script src="/javascripts/busqueda.js"></script> <!-- vinculacion con busqueda.js en todas laas vistas -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    